
.container {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 10px;
    padding: 20px;
}

footer {

    text-align: center;
    padding: 15px;
    opacity: 80%;
}

a {
    color: rgb(79, 119, 124);
}

a:visited {
    color: rgb(151, 150, 150);
}

