
.container {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    border-radius: 10px;
    padding: 20px;
}


h1 {
    font-family: "DM Serif Text", serif;
    text-align: center;
    font-size: 40px;
}

footer {

    text-align: center;
    padding: 15px;
    opacity: 80%;
}

a {
    color: rgb(79, 119, 124);
}

a:visited {
    color: rgb(151, 150, 150);
}

/*Media Queries*/

@media (max-width: 1000px) {
    .container {

            padding: 10px;
        }

        h1 {
            font-size: 50px;
        }

}