

.dictionary {
    padding: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}


.searchBar {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 12px;
    font-size: 15px;
    color: grey;
    width: 40%; 
}

.SearchResults {
    margin-left: 30px;
}

.searchWord {
    font-size: 40px;
}

.Meanings {
    padding: 10px;
}

.partsOfSpeech {
    font-size: 18px;
    margin: 0px;
}

.definition {
    font-size: 17px;
    margin: 8px;
}

.example {
    font-style: italic;
    opacity: 80%;
}


